<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde?><!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl --><target name="GEFx for Papyrus" sequenceNumber="1550834797">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.1.0.201809120950"/>
      <repository location="http://download.eclipse.org/modeling/mdt/papyrus/updates/releases/2018-09"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.gef.common.sdk.feature.group" version="5.0.0.201805280201"/>
      <unit id="org.eclipse.gef.fx.sdk.feature.group" version="5.0.2.201805280201"/>
      <unit id="org.eclipse.gef.geometry.sdk.feature.group" version="5.0.2.201805280201"/>
      <unit id="org.eclipse.gef.mvc.sdk.feature.group" version="5.0.2.201805280201"/>
      <unit id="org.eclipse.fx.runtime.min.feature.feature.group" version="3.3.0.201809010500"/>
      <unit id="org.eclipse.fx.core" version="3.3.0.201809010600"/>
      <unit id="org.eclipse.platform.feature.group" version="4.9.0.v20180906-1121"/>
      <unit id="org.eclipse.jdt.annotation" version="2.2.100.v20180905-0314"/>
      <unit id="org.eclipse.emf.feature.group" version="2.15.0.v20180905-1732"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.12.0.201806010809"/>
      <unit id="org.eclipse.gmf.runtime.notation.feature.group" version="1.12.0.201805221301"/>
      <repository location="http://download.eclipse.org/releases/2018-09"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.fx.ui.di.interopt" version="3.3.0.201809010600"/>
      <repository location="http://download.eclipse.org/efxclipse/runtime-released/3.4.0/site/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.lsp4j" version="0.4.1.v20180515-1321"/>
      <unit id="org.eclipse.lsp4j.jsonrpc" version="0.4.1.v20180515-1321"/>
      <repository location="http://download.eclipse.org/lsp4j/updates/releases/"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="javax.websocket" version="1.0.0.v20140310-1603"/>
      <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180905201904/repository"/>
    </location>
  </locations>
</target>